$pad:992px;
$mobile:768px;
$pc:1140px;

@mixin pad{
    @media (max-width:$pad) {
        @content
    }
};

@mixin mobile{
    @media (max-width:$mobile) {
        @content
    }
};

@mixin pc{
    @media (max-width:$pc) {
        @content
    }
};